---
// biome-ignore lint/correctness/noUnusedImports: <explanation>
import Layout from '../layouts/Layout.astro'
// biome-ignore lint/correctness/noUnusedImports: <explanation>
import { Page } from '@/components/page'
---

<Layout title="Cavescape">
	<main>
		<Page client:only="react" />
	</main>
</Layout>
