---
import { MoveLeft } from 'lucide-react'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Cavescape - Legal notice">
	<main class="flex-1 px-4">
    <section class="container mx-auto mt-16 mb-8 flex flex-col gap-6">
      <button class="flex gap-2 items-center bg-foreground/10 text-white px-4 py-2 rounded-md shadow-md hover:bg-foreground/15 transition w-fit" onclick="window.history.back()">
        <MoveLeft className='size-4' />
        <span>Go back</span>
      </button>
      <span class="text-3xl text-green-500 font-semibold">Legal notice</span>
      <ul class="list-item list-inside">
        <li>Viktor Anschütz</li>
        <li>Dorfstraße 91N</li>
        <li>38524 Sassenburg</li>
        <li>Germany</li>
        <br />
        <li>Contact: Jo23Games@gmail.com</li>
      </ul>
      <div class="flex flex-col gap-2">
        <span class="text-2xl font-semibold">Validity of this Legal Notice</span>
        <span>
          This legal notice is valid for the following websites, social media accounts and other services, as long as they are listed below.
        </span>
        <a href="https://cavescapegame.com/" class="text-blue-400 hover:underline" target="_blank" rel="noopener noreferrer">https://cavescapegame.com/</a>
      </div>
    </section>
	</main>
</Layout>
